@implements IDisposable
@inject NavigationManager NavigationManager

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
    <i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="icon_close"></i>
    </div>
    <div class="search-icon  search-switch">
        <i class="icon_search"></i>
    </div>
    <nav class="mainmenu mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./rooms.html">Rooms</a></li>
            <li><a href="./about-us.html">About Us</a></li>
            <li>
                <a href="./pages.html">Pages</a>
                <ul class="dropdown">
                    <li><a href="./room-details.html">Room Details</a></li>
                    <li><a href="#">Deluxe Room</a></li>
                    <li><a href="#">Family Room</a></li>
                    <li><a href="#">Premium Room</a></li>
                </ul>
            </li>
            <li><a href="./blog.html">News</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="top-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-tripadvisor"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <ul class="top-widget">
        <li><i class="fa fa-phone"></i> +351 965 833 214</li>
        <li><i class="fa fa-envelope"></i> fragalha@hotel.com</li>
    </ul>
</div>
<!-- Offcanvas Menu Section End -->
<!-- Header Section Begin -->
<header class="header-section">
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="tn-left">
                        <li><i class="fa fa-phone"></i> +351 965 833 214</li>
                        <li><i class="fa fa-envelope"></i> fragalha@hotel.com</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="tn-right">
                        <div class="d-flex align-items-center">
                            <a href="" class="bk-btn me-3">Book</a>

                            <AuthorizeView>
                                <Authorized>
                                    <NavLink class="btn" href="Account/Manage">
                                        @context.User.Identity?.Name
                                    </NavLink>
                                    <form action="Account/Logout" method="post" class="d-inline me-2">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                        <button type="submit" class="btn">
                                            Logout
                                        </button>
                                    </form>
                                </Authorized>
                                <NotAuthorized>
                                    <NavLink class="btn" href="Account/Register">
                                        Register
                                    </NavLink>
                                    <NavLink class="btn" href="Account/Login">
                                        Login
                                    </NavLink>
                                </NotAuthorized>
                            </AuthorizeView>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="nav-menu">
                        <nav class="mainmenu">
                            <ul>
                                <li class="nav-item">
                                    <NavLink href="" Match="NavLinkMatch.Prefix">
                                        Home
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink href="about-us" Match="NavLinkMatch.Prefix">
                                        About Us
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink href="News" Match="NavLinkMatch.Prefix">
                                        News
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink href="contact" Match="NavLinkMatch.Prefix">
                                        Contact
                                    </NavLink>
                                </li>
                            </ul>
                        </nav>
                        <div class="nav-right search-switch">
                            <i class="icon_search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}