@implements IDisposable
@inject NavigationManager NavigationManager

<style>
    /* Show dropdown menu on hover */
    .nav-item.dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0; /* Adjust spacing if needed */
    }
    /* CSS */
    .btn:focus {
        outline: none;
        box-shadow: none;
    }
</style>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
    <i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="icon_close"></i>
    </div>
    <div class="logo">
        <a href="">
            <img src="img/fragalhalogo.png" alt="">
        </a>
    </div>
    <ul>
        <li class="nav-item">
            <NavLink class="btn" href="" Match="NavLinkMatch.Prefix">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink class="btn" href="about-us" Match="NavLinkMatch.Prefix">
                About Us
            </NavLink>
        </li>
        <li>
            <NavLink class="btn" href="news" Match="NavLinkMatch.Prefix">
                News
            </NavLink>
        </li>
        <li>
            <NavLink class="btn" href="contact" Match="NavLinkMatch.Prefix">
                Contact
            </NavLink>
        </li>
        <li>
            <NavLink class="btn" href="book">
                Book
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized Context="authContext">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @authContext.User.Identity?.Name
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <NavLink class="btn" style="margin-left: 25px" href="mybookings">My Bookings</NavLink>
                        <NavLink class="btn" style="margin-left: 25px" href="Account/Manage">Dashboard</NavLink>
                        <div class="dropdown-divider"></div>
                        <form action="Account/Logout" method="post" class="px-3">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="btn">Logout</button>
                        </form>
                    </div>
                </li>
            </Authorized>
            <NotAuthorized>
                <li>
                    <NavLink class="btn" href="Account/Register">
                        Register
                    </NavLink>
                </li>
                <li>
                    <NavLink class="btn" href="Account/Login">
                        Login
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>
<!-- Offcanvas Menu Section End -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="menu-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a href="">
                        <img src="img/fragalhalogo.png" alt="">
                    </a>
                </div>
                <div class="col-lg-10">
                    <div class="nav-menu">
                        <nav class="mainmenu">
                            <ul>
                                <li class="nav-item">
                                    <NavLink class="btn" href="" Match="NavLinkMatch.Prefix">
                                        Home
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink class="btn" href="about-us" Match="NavLinkMatch.Prefix">
                                        About Us
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink class="btn" href="news" Match="NavLinkMatch.Prefix">
                                        News
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink class="btn" href="contact" Match="NavLinkMatch.Prefix">
                                        Contact
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink class="btn" href="book">
                                        Book
                                    </NavLink>
                                </li>
                                <AuthorizeView>
                                    <Authorized Context="authContext">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @authContext.User.Identity?.Name
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                                <NavLink class="btn" style="margin-left: 25px" href="mybookings">My Bookings</NavLink>
                                                <NavLink class="btn" style="margin-left: 25px" href="Account/Manage">Dashboard</NavLink>
                                                <div class="dropdown-divider"></div>
                                                <form action="Account/Logout" method="post" class="px-3">
                                                    <AntiforgeryToken />
                                                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                                    <button type="submit" class="btn">Logout</button>
                                                </form>
                                            </div>
                                        </li>
                                    </Authorized>
                                    <NotAuthorized>
                                        <li>
                                            <NavLink class="btn" href="Account/Register">
                                                Register
                                            </NavLink>
                                        </li>
                                        <li>
                                            <NavLink class="btn" href="Account/Login">
                                                Login
                                            </NavLink>
                                        </li>
                                    </NotAuthorized>
                                </AuthorizeView>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}